
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3aeda8;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header h1 {
  text-align: center;
  margin: 2rem;
}

.input-label {
  display: block;
  font-size: larger;
  margin: 2rem 0px;
  font-weight: 600;
}

.input {
  font-size: large;
  display: block;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 325px;
  border-color: #3aeda8;
  border-width: 3px;
}

.btn-check {
  background: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  height: 60px;
  width: 300px;
  border-radius: 30px;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

.output {
  font-size: large;
  font-weight: 600;
  margin: 2rem 0;
}

